@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  @apply bg-gradient-to-b from-blue-100 to-white min-h-screen;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-semibold;
}

.btn {
  @apply px-4 py-2 rounded-md text-white font-semibold transition-colors duration-200;
}

.btn-primary {
  @apply bg-primary hover:bg-blue-600;
}

.btn-secondary {
  @apply bg-secondary hover:bg-pink-600;
}

.input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #caf0f8;
  z-index: 0;
}
